# Python virtual environments
venv/
.venv/

# Chroma DB data
chroma_db/

# Python cache
__pycache__/
*.pyc

# R
.Rhistory
.Rapp.history
.RData
.RDataTmp
.Ruserdata
.Rproj.user/
*_cache/

# OS files
.DS_Store

# Office temp files
~$*
